---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContentRouter from '../components/ContentRouter.svelte';
import Navbar from '../components/Navbar.astro';
import ContentLayout from '../layouts/ContentLayout.astro';

---

<ContentLayout>
    <p class="lg:ml-8">moonlight drowns out all but the brightest stars</p>
</ContentLayout>

