---
import Layout from '../layouts/Layout.astro';
import NavButton from '../components/NavButton.svelte';
import ContentRouter from '../components/ContentRouter.svelte';

---

<Layout title="fjallnari">
	<main class="lg:w-2/5 p-4 max-w-[100% - 2rem] m-auto mt-24 h-full">
		<div class="flex flex-col gap-8">
			<div class="flex flex-col lg:ml-24">
				<p>Hi, I'm <span class="bold text-oxford-300">fjallnari</span></p>
				<p>Full-stack developer with passion for graphic design</p>
			</div>
			<div class="flex flex-row items-center gap-4 p-2 rounded shadow bg-oxford-800">
				<NavButton title="projects" client:load />
				<NavButton title="blog" client:load />
				<NavButton title="about" client:load />
			</div>
			<ContentRouter client:load />
		</div>
	</main>
</Layout>