---
import NewLayout from "../layouts/NewLayout.astro";
import ProjectsBentoGrid from '../components/new/ProjectsBentoGrid.svelte';
import AboutMeBento from '../components/new/AboutMeBento.svelte';
import TopIcons from '../components/new/TopIcons.svelte';

const hostName = Astro.url.hostname;
---

<NewLayout>
    <div class="flex flex-row justify-between flex-wrap w-full font-eiko gap-4">
        <div class="flex flex-col font-eiko lg:text-9xl text-6xl gap-4 mb-6 lg:m-0">
            <h1 class="">hi, I'm</h1>
            <h1 class="text-oxford-300">
                {hostName === '???' ? 'jan' : 'fjallnari'}
            </h1>
        </div>
        <div class="flex flex-col center text-4xl lg:text-right  gap-4">
            <div class="flex flex-col gap-4">
                <h1 class="">graphic designer</h1>
                <h1 class="">web developer</h1>
            </div>
            <div class="flex flex-col text-gray-400 gap-4">
                <h1 class="cursor-pointer hover:text-oxford-300 transition-colors">contact me</h1>
                <button id="about-me" class="scroll-button flex lg:justify-end">
                    <h1 class="cursor-pointer hover:text-oxford-300 transition-colors">
                        about me
                    </h1>
                </button>
                <TopIcons client:load />
                <!-- <h1 class="cursor-pointer">blog</h1> -->
            </div>
        </div>
    </div>
    <ProjectsBentoGrid client:load />
    <div id="about-me-anchor">
        <AboutMeBento client:load />
    </div>
</ContentLayout>

<script>
    const buttons = document.querySelectorAll('button.scroll-button');

    buttons.forEach((button) => {
        console.log(button.id);
        button.addEventListener('click', () => {
            const element = document.getElementById(button.id + '-anchor');
            element?.scrollIntoView({ behavior: 'smooth'});
        });
    });
</script>