---
import NewLayout from "../layouts/NewLayout.astro";
import NewProjectBento from '../components/new/NewProjectBento.svelte';

---

<NewLayout>
    <div class="flex flex-row justify-between flex-wrap w-full font-eiko gap-8">
        <div class="flex flex-col font-eiko lg:text-9xl text-6xl gap-4">
            <h1 class="">hi, I'm</h1>
            <h1 class="text-oxford-300">fjallnari</h1>
        </div>
        <div class="flex flex-col center text-3xl lg:text-right gap-2">
            <div>
                <h1 class="">graphic designer</h1>
                <h1 class="">web developer</h1>
            </div>
            <div class="mt-4 text-gray-400">
                <h1 class="cursor-pointer">contact me</h1>
                <h1 class="cursor-pointer">about me</h1>
                <!-- <h1 class="cursor-pointer">blog</h1> -->
            </div>
        </div>
    </div>
    <NewProjectBento />
</ContentLayout>