---
const hostName = Astro.url.hostname;
const mailAddress = hostName === 'jrolinek.com' ? "jrolinek.dev@gmail.com" : "fjallnari@gmail.com";
---

<div class="flex text-4xl gap-4 pb-8 flex-wrap">
    <h1 class="">have an idea for a project?</h1>
    <a class="text-oxford-300 mr-auto" href=`mailto:${mailAddress}`>let's talk!</a>
</div>