---
import Layout from '../../layouts/Layout.astro';
const { project } = Astro.params;
---
<Layout title="fjallnari">
	<main class="lg:w-2/5 p-4 max-w-[100% - 2rem] m-auto lg:mt-24 h-full">
        <a href="/" class="text-timberwold hover:text-timberwolf active:text-oxford-300">← Back</a>
		<div class="flex flex-col gap-8">
            <h1 class="text-timberwold">{project}</h1>
		</div>
	</main>
</Layout>