---
import NewLayout from '../../layouts/NewLayout.astro';
import ProjectTemplateDesign from '../../components/ProjectTemplateDesign.astro';
import ProjectTemplateDev from '../../components/ProjectTemplateDev.astro';
import PROJECTS from '../../data/projects';

const { projectID } = Astro.params;

const project = PROJECTS.find((project) => project.id === projectID);

---


<NewLayout>
    <div class="flex flex-col justify-start gap-8 font-eiko">
        <a href="/new" class="w-fit h-fit text-gray-400 hover:text-oxford-300 active:text-oxford-300 transition-colors text-2xl">← back</a>
        {
            {
                'dev': <ProjectTemplateDev {project} />,
                'design': <ProjectTemplateDesign {project} />
            }[project?.type ?? 'dev'] || <ProjectTemplateDev {project} /> /* default to dev, should never happen */
        }
    </div>
</NewLayout>
