---
import Layout from "./Layout.astro";

---

<Layout title="fjallnari">
	<main class="lg:w-3/4 lg:m-24 m-4 p-6 max-w-[100% - 4rem] m-auto lg:mt-24 h-full flex flex-col gap-20">
		<slot />
	</main>
</Layout>