---
import '@fontsource-variable/montserrat';
import '@fontsource-variable/literata';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-oxford-900 text-alabaster h-full font-montserrat">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon-bg.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <script>
        import "../../icons-bundle.js";
    </script>
    <body class="h-full flex justify-center">
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );

        /* background: rgb(15,22,36);
        background: -moz-linear-gradient(135deg, rgba(15,22,36,1) 25%, #0c111d 75%);
        background: -webkit-linear-gradient(135deg, rgba(15,22,36,1) 25%, rgba(12,17,29,1) 75%);
        background: linear-gradient(135deg, rgba(15,22,36,1) 25%, rgba(12,17,29,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1624",endColorstr="#0c111d",GradientType=1);
        background-repeat: no-repeat;
    	background-attachment: fixed; */

        background-color: #0F1624;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    @font-face {
        font-family: 'Eiko';
        src: url('/fonts/PPEiko-Heavy.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Eiko';
        src: url('/fonts/PPEiko-Thin.otf') format('opentype');
        font-weight: lighter;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Eiko';
        src: url('/fonts/PPEiko-Medium.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }


</style>
