---
import Layout from "./Layout.astro";

---

<Layout title="fjallnari">
	<main class="lg:w-4/5 lg:m-24 m-4 p-6 max-w-[100% - 4rem] m-auto lg:mt-24 h-full flex flex-col lg:gap-36 gap-16">
		<slot />
	</main>
</Layout>